.box {

    position: relative;
    width: 150px;
    height: 150px;
    top: 20px;
    left: 20px;
    background-color: white;
    animation: rotateBox 5ms cubic-bezier(0.37, 0.575, 0.565, 1) infinite, alternate;
  }
  
  .tr {
    width: 150px;
    height: 150px;
  }

@keyframes rotateBox {
    0% {
        rotate: 0deg;
        top: 20px;
        left: 20px;
        }
        50% {
          rotate: 120deg;
          top: 500px;
          left: 500px;
        }
        75% {
          rotate: 240deg;
          top: 20px;
          left: 1000px;
        }
        100% {
          rotate: 360deg;
          top: 20px;
          left: 20px;
        }    
  }